body {
  background-color:#464444;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
.container{
  display: flex;
  padding:30px;
  box-sizing: border-box;
}
@media screen and (min-width: 320px) {
  .main-container{
    margin: -1rem 8rem;
    height: 950px;
    width: 100vw;
    display: flex;
  }
} 
.card-body{
  padding: 0px;
  height: 32vh;
  width: 110%;
  background-color:#464444;
  transform: translate(0%, -35%); 
}

body div {
  color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
h4 {
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 150%;
}
h6{
  margin-bottom: 0px;
  letter-spacing: 3px;
  margin-top: 10px;
  
}
h1 {
  color: white;
  font-size: 30px;
}

.student-info-background{
  justify-content: flex-end;
  width: 100%;
  transform: translate(0%, 66%); 
  background: transparent;
}
.x-heroicon{
  margin: 15px;
  width: 20px; 
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
}
@keyframes stretch {
  0% {
    transform: scale(.3);
    border-radius: 100%;
  }
  50% {
  }
  100% {
    transform: scale(1.5);
  }
}
.check-circle-heroicon{
  width: 25px;
  transform: translate(222%, 50%); 
  z-index: 2;
}
.student-info {
  background-image: url("./imgs/1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  /* width: auto; */
  padding: 69px;
  height: 28%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 75%;
  /* border-radius: 25px 25px 0 0 ; */
  border-radius: 20px ;
}

.student-id{
  border: 1px solid white;
  height: 30px;
  border-radius: 40px;
  line-height:50%;
  color: white;
  background-color: rgba(207, 22, 89, 0.785);
  margin-top: 10px;
}

.profile-photo{
  background-image: url("https://i.pinimg.com/474x/e7/8b/58/e78b58dc548e00d04cd8217510b4e777.jpg");
  height: 50px;
  width: 50px;
  border-radius: 25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.enrolment-bar{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  text-align:center;
  width: 300px;
  height: 24%;
  border-radius: 25px;
  background-color: #343639;
  transform: translate(0%, -109%); 
  z-index: 2;
  margin: -40px 10px;
}
/* !!media */
@media screen and (min-width: 1000px)    {
  .enrolment-bar{
    width: 88%;    
  }
  .status h6{
    font-size: 16px;
    margin-top: 10px;
  }
  .status{
    padding: 0 50px;
  }
} 
@media only screen and (max-width: 1000px) and (min-width: 320px) {
  .enrolment-bar{
    flex-direction: column;
    justify-content: center;
    width:99%;
    transform: translate(0%, -198%);
  }
  .status h6{
    font-size: 12px;
    margin-top: 10px;
   }
}
@media only screen and (max-width: 1401px) and (min-width: 1001px) {
  .enrolment-bar{
    width:99%;
    transform: translate(0%, -199%);
  }
  .status h6{
    font-size: 12px;
    margin-top: 10px;
   }
}

.status{
  font-size: 19px;
  display: flex;
  flex-direction: column;
}
.enrolment-bar p{
  font-size: 1rem;
  color: rgb(135, 135, 135);
  margin-right: -15px;
}
.status h5{
  font-size: 10px;
 }
 /* 
!!CONTACT DETAILS SECTION
*/

.contact-details-container{
  height: 355px;
  background-color: #27282a;
  transform: translate(0%, -40%); 
  z-index: 1;
  
}
.contact-container{
  display: flex;
  flex-direction: column;
  margin-top: 25px;

}
.contact-container h6{
  font-size: 10px;
  letter-spacing: 1px;
  line-height:50%
}

.about-me-container {
  display: flex;
  flex-direction: column;
  transform: translate(0%, -60%); 
}
.about-me-container h6 {
  font-size: 10px;
  letter-spacing: 1px;
  margin-top: 1px;
}
@media screen and (min-width: 800px) {
  .contact-container{
    margin-top: 40px;
  }
  .contact-container h6{
    font-size: 11px;
  }
  .about-me-container h6 {
    font-size: 11px;
  }
} 
/* 
!!CURRENT COURSE SECTION
*/
.current-course-container{
  display: flex;
  align-items:center;
  align-content: center;
  justify-content: space-between;
  background-color: #343639;
  transform: translate(0%, -355%);
  z-index: 1; 
  height: 50px;
  /* margin-top: 60px; */
}

@media screen and (min-width: 320px) {
  .current-course-container{
    width: 99%;
    display: flex;
  flex-direction: row;
  }
}
.coursecontainer{
  display: block;
  padding: 2px;
}
.coursecontainer h5{
  margin-top: 0px;
}

/* 
!!hero-icon
*/
.hat-container div{
  width: 30px;
}
.neonglow{
  background: rgb(241, 6, 139);
	border-radius: 50%;
  padding: 10px;
	margin: 10px;
	/* height: 15px; */
	width: 15px;  
	transform: scale(1);
	animation: pulse 1.7s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(254, 4, 217, 0.7);
	}
	50% {
		transform: scale(1.05);
		box-shadow: 0 0 10px 10px rgba(224, 85, 192, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(220, 152, 210, 0);
	}
}

@media only screen and (max-width: 1200px) and (min-width: 700px) {
  .neonglow{
    padding: 5px;
    margin: 0 5px;
    height: 25px;
    width: 25px;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .neonglow{
    padding: 5px;
    margin: 0 5px;
    height: 30px;
    width: 30px;
  }
}
.arrow-container div{
  display: block;
  /* padding-left: -190px; */
  width: 90px;
}
.arrow-currentcourse{
  margin: 10px;
	height: 20px;
	width: 20px;
  margin-left: 11px;
  /* position: relative; */
}
/* 
!!my-photos section
*/
.myphotos-container{
  display: flex;
  flex-direction: column;
  background-color: #343639;
  height: 30%;
  width: 100%;
  transform: translate(0%, -340%); 
  z-index: 1;
}
.arrow-myphotos{
  margin: 10px;
	height: 20px;
	width: 20px;
  margin-left: 101px;
  /* position: relative; */
}

.myphotos-container h5{
  margin-left: 25px;
}


.arrow-myphotos{
  margin-right:30px;
}

.myphotos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #343639;
  height: 100px;
  width: 100%;
  transform: translate(-3%, -20%); 
  z-index: 1;
 
}
.photoscontainer{
  display: flex;
  flex-direction: column;
  background-color: #343639;
  height: 300%;
  width: 100%;
  transform: translate(-103%, 28%); 
  z-index: 1;
}

@media only screen and (min-width: 301px) and (max-width: 500px)  {
  .myphotos{
    transform: translate(-4%, -20%); 
  }
  .photoscontainer{
    transform: translate(-104%, 28%);   
    height: 263%;
  }
}
@media only screen and (min-width: 501px) and (max-width: 700px)  {
  .myphotos{
    transform: translate(-3%, -20%); 
  }
  .photoscontainer{
    transform: translate(-103%, 28%);   
    height: 320%;
    width: 100%
  }
}
@media only screen and (min-width: 701px) and (max-width: 1099px)  {
  .myphotos{
    transform: translate(-2%, -20%); 
    width: 99%;
  }
  .photoscontainer{
    transform: translate(-101%, 28%); 
  }
}

@media only screen and (min-width: 1100px) and (max-width:1400px) {
  .myphotos{
    transform: translate(-3%, -20%); 
  }
  .photoscontainer{
    transform: translate(-103%, 28%); 
  }
}
.photosdiv1{
  display: flex;
  flex-direction: row;
  background-image:url("https://images.westend61.de/0001355145pw/woman-working-outside-using-laptop-MASF17324.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;

  height: 69%;
  transform: translate(14%, -2%); 
  width: 34%;
  margin: 0 0px;
  border-radius:5px;
}
.photosdiv2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color:transparent;
  height: 95%;
  width: 50%;
  padding: 0 28px;
  border-radius:5px;
}

@media only screen and (min-width: 1100px) and (max-width: 1260px)  {
  .photosdiv2{
    width: 70%;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1100px)  {
  .photosdiv2{
    width: 70%;
  }
}
@media only screen and (min-width: 501px) and (max-width: 900px)  {
  .photosdiv2{
    height: 89%;
  }
}
@media only screen and (min-width: 401px) and (max-width: 500px)  {
  .photosdiv2{
    height: 84%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 400px)  {
  .photosdiv2{
    height: 82%;
    
  }
}

.single-photo{

  background-image:url("https://i.ytimg.com/vi/EkpYgepycN4/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  border-radius:5px;
  height: 25%;
  margin-bottom: 1px;;

}

@media only screen and (min-width: 300px) and (max-width: 399px)  {
  .single-photo{
    transform: translate(1%, -4%); 
    width: 53%;
  }
}
@media only screen and (min-width: 400px) and (max-width: 449px)  {
  .single-photo{
    transform: translate(2%, -4%); 
    width: 62%;
  }
}

@media only screen and (min-width: 450px) and (max-width: 499px)  {
  .single-photo{
    transform: translate(4%, -4%); 
    width: 60%;
    height: 20px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 549px)  {
  .single-photo{
    transform: translate(6%, -4%); 
    width: 63%;
  }
}
@media only screen and (min-width: 550px) and (max-width: 600px)  {
  .single-photo{
    transform: translate(6%, -4%); 
    width: 60%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 699px)  {
  .single-photo{
    transform: translate(5%, -4%); 
    width: 62%;
  }
}
@media only screen and (min-width: 700px) and (max-width: 999px)  {
  .single-photo{
    transform: translate(5%, -4%); 
    width: 73%;
  }
}
@media only screen and (min-width: 1000px)  {
  .single-photo{
    transform: translate(9%, -4%); 
    width: 59%;
  }
}
@media only screen and (min-width: 1050px)  {
  .single-photo{
    transform: translate(8%, -4%); 
    width: 62%;
  }
}

@media only screen and (min-width: 1101px) {
  .single-photo{
    width: 66%;
  }
}
@media only screen and (min-width: 1151px) {
  .single-photo{
    width: 65%;
  }
}
@media only screen and (min-width: 1201px) {
  .single-photo{
    width: 65%;
  }
}

.double-photos{
  display: flex;
  flex-direction:column ;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  padding: 0px;
  transform: translate(-5%, -4%); 

}
@media only screen and (min-width: 300px) and (max-width: 399px) {
  .double-photos{
    transform: translate(22%, -4%); 
    width: 52%;
  }
}
@media only screen and (min-width: 400px) and (max-width: 499px) {
  .double-photos{
    transform: translate(1%, -4%); 
    width: 79%;
  }
 
}
@media only screen and (min-width: 500px) and (max-width: 549px) {
  .double-photos{
    transform: translate(-3%, -4%); 
    width: 90%;
    height: 47%;
  }
  .photosdiv1{
    height: 60%;
  }
}
@media only screen and (min-width: 550px) and (max-width: 599px) {
  .double-photos{
    transform: translate(-3%, -4%); 
    width: 85%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 699px) {
  .double-photos{
    transform: translate(0%, -4%); 
    width: 80%;
  }
}
@media only screen and (min-width: 700px) and (max-width: 799px) {
  .double-photos{
    transform: translate(-4%, -4%); 
    width: 98%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 899px) {
  .double-photos{
    transform: translate(-5%, -4%); 
    width: 100%;
  }
}
@media only screen and (min-width: 900px) and (max-width: 999px) {
  .double-photos{
    transform: translate(-6%, -4%); 
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  .double-photos{
    transform: translate(-8%, -4%); 
    width: 93%;
  }
}
@media only screen and (min-width: 1050px) {
  .double-photos{
    transform: translate(-9%, -4%); 
    width: 98%;
  }
}
@media only screen and (min-width: 1101px) and (max-width: 1200px) {
  .double-photos{
    transform: translate(-8%, -4%); 
    width: 100%;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .double-photos{
    transform: translate(-3%, -4%); 
    width: 88%;
  }
}

.single-img{
  background-image:url("https://images.skyscrapercenter.com/building/shangrilahotelandresidences_ext-lookingup_(cc__by-sa)darren__kirby.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  margin-left: 5px;
  height: 30%;
  width: 28%;
  border-radius: 5px;
}
.single-img-wth-icon{
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2oTMfmtaeh-wa2rUb8Kubq6cpFfsHIrUjWMIitQPFNYZ9EYVDC4JgE6FPd8nfRqe7Y8k&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  filter: brightness(80%);
  margin-left: 5px;
  height: 30%;
  width: 26%;
  border-radius: 5px;
}

@media only screen and (min-width: 300px) and (max-width: 599px) {
  .single-img{
    transform: translate(4%, 0%); 
    width: 28%;
    height: 0px;
  }
  .single-img-wth-icon{
    width: 25%;
    height: 0px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 699px) {
  .single-img{
    transform: translate(3%, 0%); 
    width: 37%;
  }
  .single-img-wth-icon{
    width: 23%;
  }
}
@media only screen and (min-width: 700px) and (max-width: 899px) {
  .single-img{
    transform: translate(-2%, 0%); 
    width: 38%;
  }
  .single-img-wth-icon{
    width: 22%;
  }
}
@media only screen and (min-width: 900px) and (max-width: 999px) {
  .single-img{
    transform: translate(-2%, 0%); 
    width: 36%;
  }
  .single-img-wth-icon{
    width: 26%;
  }
}

@media only screen and (min-width: 1000px) {
  .single-img{
    transform: translate(-6%, 0%); 
    width: 34%;
  }
  .single-img-wth-icon{
    width: 20%;
  }
}

@media only screen and (min-width: 1101px) {
  .single-img{
    width: 38%;
  }
  .single-img-wth-icon{
    width: 19%;
  }
}

@media only screen and (min-width: 1201px) {
  .single-img{
    width: 40%;
  }
  .single-img-wth-icon{
    width: 25%;
  }
}
@media only screen and (min-width: 1301px) {
  .single-img{
    width: 46%;
  }
  .single-img-wth-icon{
    width: 22%;
  }
}

.rightarrow-heroicon{
  width: 35px;
transform: translate(50%, -20%); 
}
@media only screen and (min-width: 320px) and (max-width: 700px)  {
  .rightarrow-heroicon{
      width: 25px;
    transform: translate(56%, -20%); 
  }
}
@media only screen  and (min-width: 701px) and (max-width: 900) {
  .rightarrow-heroicon{
      width: 35px;
    transform: translate(50%, -20%); 
  }
}
@media only screen and (min-width: 901px) and (max-width: 1000px)  {
  .rightarrow-heroicon{
      width: 35px;
    transform: translate(104%, -20%); 
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1201px)  {
  .rightarrow-heroicon{
      width: 40px;
    transform: translate(122%, -20%); 
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1401px)  {
  .rightarrow-heroicon{
      width: 40px;
    transform: translate(122%, -20%); 
  }
}





